@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.inactive {position: fixed !important; left: -9999px !important; top: -9999px !important;}
.pfp {width: 32px; height: 32px; max-width: 32px; max-height: 32px;}
.chat-message  {
    margin: 0.5rem 0px;
}
.lobby-info {
    margin: 0.75rem;
    margin-right: 2rem;
    padding: 5px;

    background-color: #b6b6b6;
    color: #1a1a1a;

    border-radius: 10px;

    text-wrap: wrap;
    max-width: 40vw;
    overflow-wrap: break-word;
}



* {padding: 0px; margin: 0px; list-style-type: none; font-family: "Noto Sans", sans-serif;}
input[type=text] {
    border-radius: 25px;
    padding: 5px 20px;
}
button {
    padding: 5px 20px;
}
body {
    max-width:  100vw;
    max-height: 100vh;

    height: 100%;
    width:  100%;

    background-color: #1d1d1d;
    color: #f1f1f1
}



#main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    top: 5rem;
}
#main-menu > h1 {
    font-size: xx-large;
}
#mm-lobbies, #mm-settings {
    width: 20%;
    height: 30%;

    border-radius: 20px;
    margin-top: 2rem;
}

#ll-exit, #s-exit {
    width: 30px;
    height: 30px;

    border-radius: 15px;
    font-size: larger;

    padding: initial;
    padding-bottom: 5px;
}

#lobby-list, #settings {
    position: fixed;

    left: 20vw;
    top:  20vh;

    width:  60vw;
    height: 60vh;

    background-color: #353535;
    border-radius: 25px;

    padding: 2vh 2vw;
}

#ll-window {
    display: grid;
    grid-template-columns: 50% 50%;

    height: 55vh;
    max-height: 55vh;
}
#ll-lobbies {
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right: 1rem;
}
#ll-tools > * {
    margin-bottom: 1rem;
}
#ll-tools-create, #ll-tools-join, #ll-tools-refresh {
    margin-right: 0.5rem;

    width: 30%;
    height: 40%;

    border-radius: 20px;
}

#s-username, #s-profile {
    margin-top: 2rem;
}
#s-username > *, #s-profile > * {
    padding: 0px 0.5rem;
}


#l-chat {
    position: relative;
    left: 20vw;
    top: 10vh;

    width: 60vw;
    max-width: 60vw;
    height: 70vh;

    padding: 1rem;

    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #121212;
    border-radius: 25px;
    
    text-wrap: wrap;
    overflow-wrap: break-word;
}
#l-input {
    position: relative;
    left: 20vw;
    bottom: -15vh;

    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;


    width: 55vw;
    padding: 0px 1rem;
}
#l-input-text {
    width: 70%;
}


#l-input-tenor, #l-disconnect {
    width: 10%;
    border-radius: 25px;
}
#l-disconnect {
    background-color: #c40000;
}


#tenor {
    position: fixed;
    width: 500px;

    right:  20%;
    bottom: 17.5%;

    border-radius: 15px;
    background-color: #353535;
}
#t-input {
    width: 80%;
    margin: 5px 5%;
}
#t-results {
    display: grid;
    grid-template-columns: 220px 220px;
    grid-template-rows: repeat(auto-fill, min-content);
    justify-items: center;

    width: 500px;
    height: 500px;

    grid-gap: 2px;

    overflow-y: scroll;
    padding-left: 1.65rem;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
#t-results::-webkit-scrollbar {display: none;}
#t-status {margin-left: 1.5rem;}



@media screen and (max-width: 1400px) {
    button {
        padding: 5px 10px;
    }    


    #ll-tools-create, #ll-tools-join, #ll-tools-refresh {
        width: 35%;
    }


    #l-input-text {
        width: 55%;
    }
    #l-input-tenor, #l-disconnect {
        width: 15%;
        border-radius: 25px;
    }
}


#documentation-ZZzzz {
    position: fixed;
    bottom: 0px;
    left: 0px;
}